.position-grid {
    margin: 10px 0px 10px 0px;
}

.position-grid-label {
    margin: 15px 0px 20px 0px;
    text-align: center;
}

/* .callmiter-name {
    color: white;
    font-size: 20px;
    margin: 0px 10px 30px;
    border: 2px solid white;
    border-radius: 20px;
    background-color: #796d6dc4;
} */


.call-miter-bg-img {
    /* display: flex;
    justify-content: center;
    align-items: start; */
    /* min-height: 100vh; */
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-image: url("/public/images/bg-Callmiter.png");
    background-position: center;
    background-size: cover;
}

.callmiter {
    margin: 40px;
}

.callmiter-Unit-total {
    margin-bottom: 10px;
    text-align: center;
}

.callmiter-Unit-rental {
    text-align: center;
}

.callmiter-box {
    box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
    background-color: rgba(255, 255, 255, 0.464);
    border-radius: 1em;
    padding: 1rem;
}

@media screen and (max-width: 767px) {
    .call-miter-bg-img {
        text-align: start;
        display: flexbox;
    }

    .callmite-head {
        text-align: center;
        font-size: 30px;
    }

    .callmiter-Unit-total {
        margin-bottom: 10px;
        text-align: center;
    }

    .callmiter-Unit-rental {
        text-align: center;
        margin-top: -10px;
    }

    .position-grid-label {
        margin: 30px 0px 30px 0px;
    }

}