.position-grid {
    margin: 20px 0px 20px 0px;
}

.call-miter-bg-img {
    display: flex;
    justify-content: center;
    align-items: start;
    min-height: 100vh;
    padding-top: 5rem;

    background-image: url("/public/images/bg-Callmiter.png");
    background-position: center;
    background-size: cover;
}
@media screen and (max-width: 767px){
.call-miter-bg-img{
    
    text-align: start;
    background-color: red; 
    display: flexbox;

}

}
    
